################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/EFConsoleApplication/bin
/EFConsoleApplication/obj
/EFConsoleApplication/packages
/packages
