################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/EFConsoleApplication/bin
/EFConsoleApplication/obj
/EFConsoleApplication/packages
/packages
/.vs/EFConsoleApplication/v15/Server/sqlite3/storage.ide-wal
/.vs/EFConsoleApplication/v15/Server/sqlite3/storage.ide-shm
/.vs/EFConsoleApplication/v15/Server/sqlite3/storage.ide
/.vs/EFConsoleApplication/v15/Server/sqlite3/db.lock
